* { box-sizing: border-box; margin: 0; padding: 0; }

:root {
    --main-font: "Manrope", sans-serif;
    --main-color: #ffb3ff;
}


body {
    font-family: var(--main-font);
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: #0f1011;
    opacity: 1 !important;
    color: #f8feff
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.main-frame {
    background: #1a1c1d;
    width: 70rem;
    margin: 50px auto;
    padding: 0.8rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    border: 1px solid #ffb3ff;
}

.content-frame {
    display: flex;
    gap: 0 0.8rem;
    width: 100%;
}


.bio-frame {
    background: #151718;
    border-radius: 0.7rem;
    padding: 0.8rem;
    width: 23%;
}

.bio-frame img {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    width: 14rem;
    height: auto;
    border-radius: 10px;
    border: 1px solid #ffb3ff;
}

.social-frame {
    background: #151718;
    border-radius: 0.7rem;
    padding: 0.8rem;
    width: 70%;
    overflow-wrap: break-word;
}

.footer-frame {
    background: #151718;
    border-radius: 0.7rem;
    padding: 0.8rem;
    width: 100%
}

